

body{
    background-image: url("sky.jpg");
    text-align: center;
    background-size: cover;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;

}

.container {
    background-color: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: Arial;
}

button {

   
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
     width:150px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px solid wihte;
    font-weight: bold;

}
#increment-btn {
    background: rgb(79, 142, 172);
}
#save-btn {
    background: rgb(79, 142, 172);
}